// Palette GHN extraite du logo (à utiliser partout)
$bleu-piscine:   #009ee0; // Bleu principal, le plus foncé (bas du logo)
$bleu-moyen:     #33b5ef; // Dégradé intermédiaire
$bleu-clair:     #8ed6f8; // Dégradé haut/bleu pâle
$blanc:          #fff;    // Pour texte & éléments blancs
$gris-clair:     #e3f3fa; // Fond secondaires
$inox:           #b1c8da; // Pour détails, icônes, ombres soft
